<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <h1 class="text-muted">新規登録ページ</h1> <!--title-->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
          <div class="bs-docs-section text-middle">

            <!--フォーム-->
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= devise_error_messages! %>
              <!--メールアドレス入力欄-->
              <p>
                <%= f.label :email, 'メールアドレス(必須)', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
                <%= f.email_field :email, autofocus: true, :placeholder => 'メールアドレスを入力', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
              </p>

              <!--パスワード入力欄-->
              <p>
                <%= f.label :password, 'パスワード(必須・8文字以上)', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %> <% if @validatable %><i>(<%= @minimum_password_length %> characters minimum)</i><% end %>
                <%= f.password_field :password, autocomplete: "off", :placeholder => 'パスワードを入力', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
              </p>

              <!--パスワード確認入力欄-->
              <p>
                <%= f.label :password_confirmation, 'パスワード確認(必須)', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
                <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => 'パスワードを入力（確認）', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
              </p>

              <!--ニックネーム入力欄-->
              <p>
                <%= f.label :nickname, 'ニックネーム(必須)', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
                <%= f.text_field :nickname, placeholder: 'ニックネームを入力', class: "col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12" %>
              </p>

              <!--新規登録ボタン-->
              <p class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
                <%= button_tag type: "submit", class: "btn btn--block" do %>新規登録<% end %>
              </p>

            <% end %>

            <p class="col-lg-8 col-lg-offset-2 col-sm-10 col-sm-offset-1 col-xs-12">
              <strong>既にアカウントをお持ちの方は、<a href="/users/sign_in">こちら</a></strong>
            </p>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>