<div class="container-fluid page-title">
  <p class="page-title-text"><%= current_user.nickname %><span>さんのマイページ</span></p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <!--自分の基本情報を表示-->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle">基本情報</h3>
            <h4>ニックネーム  : <%= current_user.nickname %></h4>
            <h4>メールアドレス: <%= current_user.email %></h4>
          </div>
        </div>

        <!--自分の投稿したものを表示-->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle"><%= current_user.nickname %>さんのレビュー一覧</h3>
            <ul><%= render current_user.reviews %></ul>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>