<div class="container-fluid page-title">
  <p class="page-title-text"><%= current_user.nickname %><span>さんのマイページ</span></p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-docs-section">

        <!--タブ-->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">基本情報</a></li>
          <li><a href="#tab2" data-toggle="tab"><%= current_user.nickname %>さんのレビュー一覧</a></li>
        </ul>
        <!-- / タブ-->
        <!--コンテンツ-->
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <!--自分の基本情報を表示-->
            <h3 class="text-middle">基本情報</h3>
            <h4>ニックネーム  : <%= current_user.nickname %></h4>
            <h4>メールアドレス: <%= current_user.email %></h4>
            <div class="media"></div> <!--この行はフッターとの隙間確保用-->
          </div>
          <div class="tab-pane fade" id="tab2">
            <!--自分の投稿したものを表示-->
            <h3 class="text-middle"><%= current_user.nickname %>さんのレビュー一覧</h3>
            <div class="render_box"><%= render current_user.reviews %></div>
            <div class="media"></div> <!--この行はフッターとの隙間確保用-->
          </div>
        </div>
        <!-- /コンテンツ-->

      </div>
    </div>
  </div>
</div>