<div class="media">
  <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
    <a href="/buildings/<%= building.id %>">
      <img class="media-object" src="<%= building.image_url %>" alt="hotel_picture" style="width: 100%; height: auto">
    </a>
  </div>
  <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
    <h4 class="media-heading"><a href="/buildings/<%= building.id %>"><%= building.building_name %></a></h4>
    <%= building.detail %></br>
    投稿: <%= building.review_count %>件
    <% if building.reviews.present? %>
        平均評価: <%= building.review_rate_average %>
    <% else %>
        平均評価: -
    <% end %>
    </br>
    このホテルの <a href="/buildings/<%= building.id %>/reviews/new">レビューを書く</a> / <a href="/buildings/<%= building.id %>">レビュー・詳細を見る</a>
  </div>
</div>
