<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <h1 class="text-muted">トップページ</h1><!--title-->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">

        <div class="col-md-6">
          <div class="bs-docs-section">
            <!--新着建物を表示-->
            <h3 class="text-middle">新着建物</h3>
            <% @buildings.each do |building| %>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="<%= building.image_url %>" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/buildings/<%= building.id %>"><%= building.building_name %></a></h4>
                  <% if building.reviews.present? %>
                    平均評価: <%= building.review_average %>
                  <% else %>
                    平均評価: -
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <div class="col-md-6">
          <div class="bs-docs-section">
            <!--投稿ランキングを表示-->
            <h3 class="text-middle">投稿ランキング</h3>
            <% @ranking.each.with_index(1) do |building, i| %>
              <div class="media">
                <div class="media-left">
                  <a href="#">
                    <img class="media-object" src="<%= building.image_url %>" alt="...">
                  </a>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><a href="/buildings/<%= building.id %>"><%= building.building_name %></a></h4>
                  <%= i %>位</br>
                  <% if building.reviews.present? %>
                      平均評価: <%= building.review_average %>
                  <% else %>
                      平均評価: -
                  <% end %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


