<div class="container-fluid page-title">
  <p class="page-title-text">ホテルを検索</p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-docs-section">

        <!--検索フォーム-->
        <h3 class="text-middle">検索</h3>
        <%= form_tag('/buildings/search1', method: :get) do %>
          <div class="form-group">
            <input class="form-control" name="keypref" placeholder="都道府県を入力" type="text" value=""><br>
            <input class="form-control" name="keyword" placeholder="ホテル名を入力" type="text" value=""><br>
            <input class="form-control" name="keydeta" placeholder="詳細情報を入力" type="text" value=""><br>
            <button class="btn btn-primary" building_name="検索" type="submit">検索</button>
          </div>
        <% end %>

        <!--検索結果を表示-->
        <h3 class="text-middle">検索結果(<%= @buildings_a.count %>件見つかりました)</h3>
        <% @buildings_b.each do |building| %>
          <div class="media">
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <a href="/buildings/<%= building.id %>">
                <img class="media-object" src="<%= building.image_url %>" alt="hotel_picture" style="width: 100%; height: auto">
              </a>
            </div>
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
              <h4 class="media-heading"><a href="/buildings/<%= building.id %>"><%= building.building_name %></a></h4>
              <%= building.detail %></br>
              投稿: <%= building.review_count %>件
              <% if building.reviews.present? %>
                平均評価: <%= building.review_rate_average %>
              <% else %>
                平均評価: -
              <% end %>
              </br>
              このホテルの <a href="/buildings/<%= building.id %>/reviews/new">レビューを書く</a> / <a href="/buildings/<%= building.id %>">レビュー・詳細を見る</a>
            </div>
          </div>
        <% end %>
        <%= paginate(@buildings_b) %>
      </div>

    </div>
  </div>
</div>