  <div id="main_cnt_wrapper">
    <div id="yjContentsBody">
      <div class="yjContainer">
        <span class="yjGuid"><a id="yjContentsStart" name="yjContentsStart"></a><img alt="ここから本文です" height="1" src="http://i.yimg.jp/yui/jp/tmpl/1.1.0/audionav.gif" width="1"></span>
        <div id="yjMain">
          <article class="section">
            <div class="container">
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i><%= @building.building_name %>
                </h2>
              </header>
              <p style="text-align: center">
                <img src="<%= @building.image_url %>" alt="<%= @building.building_name %>">
              </p>
              <div style="text-align: right">
                <a href="/buildings/<%= @building.id %>/reviews/new">この建物を投稿する</a> <!--「この建物を投稿する」をクリックすると投稿ページに移動-->
              </div>
              <header class="header header--section">
                <h2 class="text-middle">
                  <i class="icon-movie color-gray-light"></i>みんなのレビュー
                </h2>
              </header>
              <ul style="padding: 0">
                <% @building.reviews.each do |review| %> <!--建物ページでレビューの一覧を表示-->
                    <li style="border-bottom: dotted 1px">
                      <div class="thumbnail__caption">
                        <h3 class="text-xsmall text-overflow" building_name="<%= review.user.nickname %>">
                          <span><i class="icon-rate-60 text-xxsmall opacity-60" title=""></i></span><%= review.user.nickname %><small 2014=""></small>
                        </h3>
                        <p class="text-small">
                          <span class="rating-star"><i class="star-actived rate-<%= review.rate %>0"></i></span> <!--レビューを意味する星を表示-->
                        </p>
                        <p>
                          <%= review.review %>
                        </p>
                      </div>
                    </li>
                <% end %>
              </ul>
            </div>
          </article>
        </div>
        <div id="yjSub">