<div class="container-fluid page-title">
  <p class="page-title-text"><%= @building.building_name %></p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <!--ホテルの画像-->
        <div class="media"><div class="media-left"><a href="/buildings/<%= building.id %>">
          <img class="media-object" src="<%= @building.image_url %>" alt="hotel_picture">
        </a></div></div>
        <!--ホテル投稿画面へのリンク-->
        <div style="text-align: right">
          <a href="/buildings/<%= @building.id %>/reviews/new">このホテルを投稿する</a> <!--「このホテルを投稿する」をクリックすると投稿ページに移動-->
        </div>

        <!--detailなどを表示--->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle">詳細情報</h3>
            <%= @building.detail %><br>
            【宿泊料金】<%= @building.fee1 %><%= @building.fee2 %><br>
            <%= @building.access %>
          </div>
        </div>

        <!--みんなのレビューを表示-->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle">みんなのレビュー</h3>
            <% @building.reviews.each do |review| %>
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading"><%= review.user.nickname %></h4>
                  <%= review.review %></br>
                  評価: <%= review.rate %></br>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>