<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <h1 class="text-muted"><%= @building.building_name %></h1><!--title-->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <!--建物の画像-->
        <div class="media"><div class="media-left"><a href="#">
          <img class="media-object" src="<%= @building.image_url %>" alt="...">
        </a></div></div>
        <!--建物投稿画面へのリンク-->
        <div style="text-align: right">
          <a href="/buildings/<%= @building.id %>/reviews/new">この建物を投稿する</a> <!--「この建物を投稿する」をクリックすると投稿ページに移動-->
        </div>

        <!--detailなどを表示--->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle">詳細情報</h3>
            <%= @building.detail %>/
          </div>
        </div>

        <!--みんなのレビューを表示-->
        <div class="col-md-6">
          <div class="bs-docs-section">
            <h3 class="text-middle">みんなの投稿</h3>
            <% @building.reviews.each do |review| %>
              <div class="media">
                <div class="media-body">
                  <h4 class="media-heading"><%= review.user.nickname %></h4>
                  <%= review.review %></br>
                  評価: <%= review.rate %></br>
                </div>
              </div>
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>