<div class="container-fluid page-title">
  <p class="page-title-text"><%= @hotel.hotel_name %></p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-docs-section">

        <div class="media">
          <!--ホテルの画像-->
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <img class="media-object" src="<%= @hotel.image_url %>" alt="hotel_picture" style="width: 100%; height: auto">
          </div>

          <!--中間余白-->
          <div class="col-sm-2 col-md-4 col-lg-6"></div>

          <!--ホテル投稿画面へのリンク-->
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
              <% if user_signed_in? %>
                  <a href="/hotels/<%= @hotel.id %>/reviews/new" class="btn btn-primary" role="button" style="width: 100%">レビューを書く</a> <!--「レビューを書く」をクリックすると投稿ページに移動-->
              <% else %>
                  <a href="/hotels/<%= @hotel.id %>/reviews/new" class="btn btn-primary" role="button" style="width: 100%">サインインしてレビューを書く</a>
              <% end %>
          </div>

        </div>

        <div class="media"></div> <!--この行は隙間確保用-->

        <!--タブ-->
        <ul class="nav nav-tabs">
          <li class="active"><a href="#tab1" data-toggle="tab">詳細情報</a></li>
          <li><a href="#tab2" data-toggle="tab">みんなのレビュー</a></li>
        </ul>
        <!-- / タブ-->
        <!--コンテンツ-->
        <div id="myTabContent" class="tab-content">
          <div class="tab-pane fade in active" id="tab1">
            <!--detailなどを表示-->
            <h3 class="text-middle">詳細情報</h3>
            <%= @hotel.detail %><br>
            【宿泊料金】<%= @hotel.fee1 %><%= @hotel.fee2 %><br>
            <%= @hotel.access %>
            <div class="media"></div> <!--この行はフッターとの隙間確保用-->
          </div>
          <div class="tab-pane fade" id="tab2">
            <!--みんなのレビューを表示-->
            <h3 class="text-middle">みんなのレビュー</h3>
            <% @hotel.reviews.each do |review| %>
                <div class="media">
                  <div class="media-body">
                    <h4 class="media-heading"><%= review.user.nickname %></h4>
                    <%= review.review %></br>
                    評価: <%= review.rate %></br>
                  </div>
                </div>
            <% end %>
            <div class="media"></div> <!--この行はフッターとの隙間確保用-->
          </div>
        </div>
        <!-- /コンテンツ-->

      </div>
    </div>
  </div>
</div>