<div class="container-fluid page-title">
  <p class="page-title-text">レビューの編集</p><!--title-->
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="bs-docs-section">

        <!--投稿編集対象のホテル-->
        <div class="media">
          <div class="col-xs-12 col-sm-5 col-md-4 col-lg-3">
            <a href="/buildings/<%= @building.id %>">
              <img class="media-object" src="<%= @building.image_url %>" alt="hotel_picture" style="width: 100%; height: auto">
            </a>
          </div>
          <div class="col-xs-12 col-sm-7 col-md-8 col-lg-9">
            <h4 class="media-heading"><a href="/buildings/<%= @building.id %>"><%= @building.building_name %></a></h4>
          </div>
        </div>

        <!--フォーム-->
        <%= form_for [@building, @review] do |f| %>
          <div class="form-group">
            <h3 class="text-middle">レート(どれか1つを選択)</h3>
            <div>
              <div class="radio-inline"><input type="radio" value="1" name="review[rate]" id="review_rate" <% if @review.rate == 1 then %>checked="checked"<% end %>><label>1</label></div>
              <div class="radio-inline"><input type="radio" value="2" name="review[rate]" id="review_rate" <% if @review.rate == 2 then %>checked="checked"<% end %>><label>2</label></div>
              <div class="radio-inline"><input type="radio" value="3" name="review[rate]" id="review_rate" <% if @review.rate == 3 then %>checked="checked"<% end %>><label>3</label></div>
              <div class="radio-inline"><input type="radio" value="4" name="review[rate]" id="review_rate" <% if @review.rate == 4 then %>checked="checked"<% end %>><label>4</label></div>
              <div class="radio-inline"><input type="radio" value="5" name="review[rate]" id="review_rate" <% if @review.rate == 5 then %>checked="checked"<% end %>><label>5</label></div>
              <div class="radio-inline"><input type="radio" value="6" name="review[rate]" id="review_rate" <% if @review.rate == 6 then %>checked="checked"<% end %>><label>6</label></div>
              <div class="radio-inline"><input type="radio" value="7" name="review[rate]" id="review_rate" <% if @review.rate == 7 then %>checked="checked"<% end %>><label>7</label></div>
              <div class="radio-inline"><input type="radio" value="8" name="review[rate]" id="review_rate" <% if @review.rate == 8 then %>checked="checked"<% end %>><label>8</label></div>
              <div class="radio-inline"><input type="radio" value="9" name="review[rate]" id="review_rate" <% if @review.rate == 9 then %>checked="checked"<% end %>><label>9</label></div>
              <div class="radio-inline"><input type="radio" value="10" name="review[rate]" id="review_rate" <% if @review.rate == 10 then %>checked="checked"<% end %>><label>10</label></div>
            </div>
          </div>

          <div class="form-group">
            <h3 class="text-middle">レビュー</h3>
            <%= f.text_area :review, placeholder: 'レビューを入力', style: 'height: 300px;', class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= button_tag type: "submit", class: "btn btn-primary" do %>
              更新する
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</div>