<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <h1 class="text-muted">投稿内容の編集</h1><!--title-->
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="bs-docs-section">

            <!--投稿編集対象の建物-->
            <div class="media">
              <div class="media-left">
                <a href="#">
                  <img class="media-object" src="<%= @building.image_url %>" alt="...">
                </a>
              </div>
              <div class="media-body">
                <h4 class="media-heading"><a href="/buildings/<%= @building.id %>"><%= @building.building_name %></a></h4>
              </div>
            </div>

            <!--フォーム-->
            <%= form_for [@building, @review] do |f| %>
              <div style="margin: 10px 0">
                <%= f.label :評価, style: { 'margin-right' => 10 } %>
                <%= f.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1, html: { class: "search__query", style: 'text-align: right;' } %>
              </div>
              <div style="margin: 10px 0">
                <%= f.text_area :review, placeholder: 'レビューを入力', style: 'width: 100%;height: 300px;' %>
              </div>
              <div style="margin: 10px 0">
                <div class="col10 push1">
                  <%= button_tag type: "submit", class: "btn btn--block" do %>
                    更新する
                  <% end %>
                </div>
              </div>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>